$clock-fill-color: #222222;
$clock-stroke-color: #222222;
$clock-stroke-width: 5;
$clock-miter-limit: 10;

#clock {
	width: 100%;
}

.hour-marks {
		fill: none;
		stroke: $clock-stroke-color;
		stroke-width: $clock-stroke-width;
		stroke-miterlimit: $clock-miter-limit;
}

.middle-face {
	fill: $clock-fill-color;
}



